@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


h3{font-size: 30px;}

.white-color{color: #fff;}



.navbar-container{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: #5c5e70;
  padding: 0 2rem;
}

.logo{
  width: 50px;
  margin-top: 15px;
}

nav{
  position: relative;
}

.navbar-items{
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;

}


.navbar-items li{
  display: inline-block;
  margin-left: 25px;
  text-transform: uppercase;
}

.navbar-items a{
  text-decoration: none;
  transition: 0.5s;
  color: #fff;
}

.navbar-items a:hover{
  color: #ccc;
}

.default-btn{
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #22adf0;
}

.navbar-items .default-btn:hover{
  background-color: #00aaff;
  color: #fff;
}

.hamburguer{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 2px;
  margin: 8px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* main banner */

.main-banner{
  background-image: url('../img/banner2.jpg');
  padding: 12rem 0;
  margin: 4em 0 0 ;
  background-size: cover;
}

.main-banner h1,
.main-banner p{
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px ;
}

.main-banner h1{
  font-size: 54px;
}

.main-banner p{
  font-size: 32px;
}

.services-container{
  padding: 5em 0;
  background-color: #5c5e70;
}

.services-container ul{
  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  gap: 12px;
}

.services-container li{
  list-style: none;
  border-radius: 6px;
  flex: 1 1 200px;
  padding: 10px 1em 0;
}

.services-container p{
  line-height: 25px;
  color: #cecccc;
}

.fa-solid,
.services-container p,
.services-container h3{
  margin-bottom: 13px;
}

.fa-solid{
  font-size: 60px;
}


.plans-container{
  padding: 2em 0 ;
  text-align: center;
  margin-bottom:3em ;
}

.plans-container p{
  font-size: 20px;
}

.plans{
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
  width: 90%;
}

.plan{
  flex:1;
  margin: 0 40px;
  max-width: 300px;
}

.plan ul{
  padding: 0;
}

.plan li{
  list-style: none;
  line-height: 45px;
  background-color: #ebe8e8;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-weight: 600;
}

.plan .price{
  width: 100px;
  text-align: center;
  line-height: 95px;
  height: 100px;
  border-radius: 50%;
  background-color: #22adf0;
  margin: 0 auto -50px;
  position: relative;
  font-size: 20px;
  color: #fff;
  border: 2px solid #5c5e70;
}

.plan .plan-name{
  background-color: #5c5e70;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 45px;
  color: #fff;
}

.plan .plan-btn{
  color: #fff;
  padding: 1em 0;
  background-color: #5c5e70;
  text-transform: uppercase;
  cursor: pointer;
}

.location-container{
  padding: 2em 1em;
  background-color: #5c5e70;
  text-align: center;
}

.location-container h3{margin-bottom: 10px;}

.location-container p{
  font-size: 20px;
  color: #fff;
}

.location {
  margin: 2em 0;
  width: 800px;
  height: 380px;
}

.contact-container{
  padding: 3em 10px;
  text-align: center;
}

.contact-container h3{
  margin-bottom: 10px;
}

.contact-container p{
  font-size: 20px;
}

form{
  margin: 3em 0;
  /* border: 1px solid blue; */
}

input[type="text"],
input[type="email"]{
  display: inline-block;
  width:250px;
  height: 40px;
  padding: 1em 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 20px 20px;
}

input:focus,
textarea:focus{
  border: 1px solid #22adf0;
}

[type="submit"]{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #6cceffec;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

[type="submit"]:hover{
  background-color: #2fb8fcec;

}

textarea{
  border: 1px solid #ccc;
  outline: none;
  border-radius: 10px;
  padding: 10px 15px;
  display: block;
  margin: 15px auto;
  width: 550px;
  max-width: 700px;
  height: 300px;
  max-height: 350px;
}


footer{
  margin: 2em 0;

}

footer p{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #a8a7a7;
}


@media (max-width:768px){

  .main-banner p {
    margin: 0 2em;
  }

  .plans{
    width: auto;
  }

  .plans li{
    padding: 5px 8px;
    font-size: 15px;
  }

  .location{
    width: 600px;
  }

}

@media (max-width: 650px){
  .hamburguer{
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
  }

  .hamburguer.active .bar:nth-child(1){
    transform: translateY(5px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(2){
    transform: translateY(-6px) rotate(-45deg);
  }

  .navbar-items{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    background-color: #5c5e70;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar-items li{
    margin: 3px 0;
  }

  .navbar-items.active{
    left: 0;
  }
}

@media (max-width:425px){


  .navbar-container{
    padding: 0 10px;
  }

  .navbar-items{
    font-size: 16px;
  }

  .navbar-items li{
    margin-left: 10px;
  }

  .default-btn{
    padding: 7px 13px;
  }

  .main-banner h1 {
    font-size: 44px;
  }

  .main-banner p {
    font-size: 26px;
    margin: 0 1.5em;
  }

  .services-container ul {
    flex-direction: column;
  }

  .services-container p {
    font-size: 15px;
  }

  h3{
    font-size: 22px;
  }

  .plans-container{
    padding: 2em;
  }

  .plans{
    flex-direction: column;
  }

  .plans .plan{
    margin-bottom: 15px;
  }

  .location {
    width: 350px;
    height: 300px;
  }

  textarea{
    width: 250px;
    height: 180px;
  }
}

@media (max-width:375px){

  .navbar-container{
    padding: 0 8px;
  }

  .navbar-items{
    font-size: 14px;
  }


  .main-banner p {
    font-size: 22px;
    margin: 0 1.7em;
  } 

  .location-container {
    padding: 2em 1.4em;
  }

  .location{
    width: 300px;
    height: 250px;
  }
}

@media (max-width:320px){

  
  .navbar-container{
    padding: 0 4px;
  }

  .navbar-items{
    font-size: 12px;
  }

  .main-banner p {
    font-size: 18px;
  } 

  .plans-container {
    padding: 0;
  }

  .location-container {
    padding: 2em 1.4em;
  }

  .location{
    width: 250px;
    height: 200px;
  }
}